<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//ES">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Nuevo número de movil</title>
</head>
<body>
		<form  action="newuser">
			<p>
				<label class="w3-text-gray"><b>Phone Number</b></label> <input
					class="w3-input w3-border w3-light-grey" name="cellPhone" type="text">
			</p>
			<p>
				<label class="w3-text-gray"><b>DNI</b></label> <input
					class="w3-input w3-border w3-light-grey" name="DNI" type="text"
th:field="*{DNI}" readonly >
			</p>
<p>
				<button class="w3-btn w3-blue">Añadir nuevo número</button>
			</p>
		
		</form>
</body>
</html>