<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns:th="http://www.thymeleaf.org">
<head >
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Actualizar Tarjeta de Crédito</title>
</head>
<body>
<form  action="#"
		th:action="@{/Santander/reemplazarUsuario/{UsuarioActualizar}(UsuarioActualizar=${UserFromDB.DNI})}"
		 th:object="${UserFromDB}" method="post"> 
			<p>  
				<label class="w3-text-gray"><b>DNI</b></label> 
				<input class="w3-input w3-border w3-light-grey" name="DNI" type="text"
					th:field="*{DNI}" readonly >  
			</p>
			<p>
				<label class="w3-text-gray"><b>Credit Card Number</b></label> 
				<input  class="w3-input w3-border w3-light-grey" name="creditCardNumber" type="text"
				
				th:field="*{creditCardNumber}" >
			</p>

			<p>
				<label class="w3-text-gray"><b>Credit Card Expiry</b></label> <input
					class="w3-input w3-border w3-light-grey" name="creditCardExpiry" type="text"
					
					th:field="*{creditCardExpiry}">
			</p>
			
						<p>
				<label class="w3-text-gray"><b>Credit Card Type</b></label> <input
					class="w3-input w3-border w3-light-grey" name="creditCardType" type="text"
					
					th:field="*{creditCardType}">
			</p>
<p>
				<button class="w3-btn w3-blue">Actualizar Tarjeta de Crédito<</button>
			</p>
		
		</form>
</body>
</html>